<div class="comment-text">
	{{ self.txt_content }}

	{% if self.media_size > 0 %}
		{% if self.type != 'admin' %}
			&nbsp;<a class="fancybox" title="{% trans _('subida por') %} {{ self.username }} ({{ self.media_size }} bytes)" href="{{ self.media_url }}"><img
		{% else %}
			&nbsp;<a class="fancybox" title="({{ self.media_size }} bytes)" href="{{ self.media_url }}"><img
		{% endif %}

		{% if globals.cache_redirector %}
			class="thumb ok"
			src="//{{ globals.server_name }}/{{ self.media_thumb_dir }}/media_thumb-comment-{{ self.id }}.{{ self.media_extension }}?{{ self.media_date }}"
		{% else %}
			class="thumb"
			src="img/common/picture01.png" width="30" height="24"
		{% endif %}

		alt="media" {# title="{% trans _('Mayúsculas+Clic para expandir todas') %}" #}/></a>
	{% endif %}

	{% if self.is_truncated %}
	<div>
		<a style="text-decoration:none;cursor:pointer" onclick="javascript:get_votes('get_comment_body.php','comment','cid-{{ self.prefix_id }}{{ self.id }}',0,{{ self.id }})" title="{% trans _('resto del comentario') %}">
			<i class="fa fa-chevron-down"></i><i class="fa fa-chevron-down"></i><i class="fa fa-chevron-down"></i>
		</a>
	</div>
	{% endif %}

	{% if self.can_edit %}
	<div class="btn-comment-edit">
		<a class="edit-btn comment-btn" href="javascript:comment_edit({{ self.id }}, 'cid-{{ self.prefix_id }}{{ self.id }}')" title="{% trans _('editar comentario') %}">
			<span class="fa fa-pencil"></span>&nbsp;{% trans _('editar') %}
		</a>
	</div>
	{% endif %}
</div>

