<div id="c-{{ self.prefix_id }}{{self.html_id}}">
	<div class="comment-body {{ self.comment_class }}" id="cid-{{ self.prefix_id }}{{self.id}}">
		{% if self.hide_comment %}
			<a href="javascript:void(0)" class="expand" onclick="return togglecomment(this)" title="plegar"><i class="fa fa-chevron-up"></i></a>
			&nbsp;<strong>#{{ self.order }}</strong>&nbsp;
			&#187;&nbsp;<a href="#" class="pointer" onclick="show_veiled({{ self.id }}, 'comment', 'cid-{{ self.prefix_id }}{{ self.id }}');return false;" title="{% trans 'ver comentario' %}">{% trans 'ver comentario' %}</a>
		{% else %}
			{% include 'comment_summary_body.html' %}
		{% endif %}
	</div>
</div>

