<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me/ns#">
<head> <meta charset="utf-8" />
<meta name="ROBOTS" content="NOARCHIVE" />
<style type="text/css" media=screen>
<!--
.errt { text-align:center; padding-top:50px; font-size:300%; color:#000;}
.errl { text-align:center; margin-top:50px; margin-bottom:100px; }
a, a:hover { color: #005be2}
-->
</style>
</head>

<body>

<p class="errt">
{% if mess %}
    {{ mess }} 
{% else %}
    {% trans _('algún error nos ha petado') %}
{% endif %}
<br/>
<span style="font-size: 80%">
{% if error %}
    {% trans _("error %s"), error %}
{% endif %}
</span>
</p>

<div class="errl">
    <img src="{{globals.base_static}}img/cpchl/gc_black.svg" alt="ooops logo" />
</div>

<div class="errt">
Regresar a <a class="link" href="{{ globals.scheme }}//{{globals.server_name}}{{ globals.base_url_general }}">Copúchalo</a>
<div>

</body>
</html>

