{% if not globals.mobile %}
<div id="footwrap">

	<div id="footcol1" class="wideonly">
	<h5>{% trans _('suscripciones por RSS') %}</h5>
	<ul>
	<li><a href="{{ globals.base_url }}rss" >{% trans _('publicadas') %}</a></li>
	<li><a href="{{ globals.base_url }}rss?status=queued" >{% trans _('en cola') %}</a></li>
	<li><a href="{{ globals.base_url }}rss?active" >{% trans _('más activas') %}</a></li>

	{% if current_user.user_id > 0 %}
		<li><a href="{{ globals.base_url }}comments_rss?conversation_id={{ current_user.user_id }}"  title="{% trans _('comentarios de las noticias donde has comentado') %}">{% trans _('mis conversaciones') %}</a></li>
		<li><a href="{{ globals.base_url }}comments_rss?author_id={{ current_user.user_id }}" >{% trans _('comentarios a mis noticias') %}</a></li>
	{% endif %}

	<li><a href="{{ globals.base_url }}comments_rss" >{% trans _('todos los comentarios') %}</a></li>
	</ul>
	</div>


	<div id="footcol2">
		<h5>ayuda</h5>
		<ul id="helplist">
		<li><a href="http://meneame.wikispaces.com/Comenzando">{% trans _('comenzando') %}</a></li>
		<li><a href="{{ globals.base_url_general }}faq-es">{% trans _('faq') %}</a></li>
		<li><a href="http://meneame.wikispaces.com/Ayuda">{% trans _('ayuda') %}</a></li>
		<li><a href="{{globals.legal}}#contact">{% trans _('avisar errores') %}</a></li>
		<li><a href="{{globals.legal}}#contact">{% trans _('avisar abusos') %}</a></li>
		</ul>
	</div>


	<div id="footcol3">
		<h5>+mediatize</h5>
		<ul id="moremenelist">
		<li><a href="{{ globals.base_url_general }}trends">{% trans _('tendencias') %}</a></li>
		<li><a href="/postits/">{% trans _('postits') %}</a></li>
		<li><a href="http://blog.mediatize.cl/">{% trans _('blog') %}</a></li>
		{% if globals.fancybox_enabled %}
			<li><a href="javascript:fancybox_gallery('all');">{% trans _('imágenes') %}</a></li>
		{% endif %}
		{% if globals.facebook_page OR globals.twitter_page %}
			<li>{% trans _('síguenos en:') %} &nbsp;
				{% if globals.facebook_page %}
					<a class="share-icons-foot" href="{{ globals.facebook_page }}" title="{% trans _('síguenos en Facebook') %}" ><span class="fa icons-foot fa-facebook-square"></span></a>
				{% endif %}
				{% if globals.twitter_page %}
					<a class="share-icons-foot" href="{{ globals.twitter_page }}" title="{% trans _('síguenos en Twitter') %}" ><span class="fa icons-foot fa-twitter"></span></a>
				{% endif %}
			</li>
		{% endif %}
		</ul>
	</div>

	<div id="footcol4">
		<h5>{% trans _('estadísticas') %}</h5>
		<ul id="statisticslist">
		{% if current_user.user_id %}
			<li><a href="{{ globals.base_url_general }}top_users">{% trans _('usuarios') %}</a></li>
		{% endif %}
		<li><a href="{{ globals.base_url }}popular">{% trans _('populares') %}</a></li>
		<li><a href="{{ globals.base_url }}top_commented">{% trans _('más comentadas') %}</a></li>
		<li><a href="{{ globals.base_url }}top_comments">{% trans _('mejores comentarios') %}</a></li>
		<li><a href="{{ globals.base_url }}cloud">{% trans _('nube de etiquetas') %}</a></li>
		<li><a href="{{ globals.base_url }}sites_cloud">{% trans _('nube de webs') %}</a></li>
		<li><a href="{{ globals.base_url }}promote">{% trans _('candidatas') %}</a></li>
		<li><a href="{{ globals.base_url_general }}values">{% trans _('parámetros básicos') %}</a></li>
		</ul>
	</div>

	{#
	<div id="footcol5">
		<h5>{% trans _('social') %}</h5>
		<ul id="mapslist">
		{% if globals.fancybox_enabled %}
			<li><a href="javascript:fancybox_gallery('all');">{% trans _('imágenes') %}</a></li>
		{% endif %}
		{% if this_site_properties.facebook_page %}
		<a href="{{ this_site_properties.facebook_page }}" title="{% trans _('síguenos en Facebook') %}" ><img class="semiopaque" src="{{globals.base_static}}img/external/fb-24.png" width="24" height="24" alt="Facebook"/></a>
		{% else %}
			{% if globals.facebook_page && this_site.owner == 0 %}
				<a href="{{ globals.facebook_page }}" title="{% trans _('síguenos en Facebook') %}" ><img class="semiopaque" src="{{globals.base_static}}img/external/fb-24.png" width="24" height="24" alt="Facebook"/></a>
			{% endif %}
		{% endif %}
		{% if this_site_properties.twitter_page %}
			<a href="{{ this_site_properties.twitter_page }}" title="{% trans _('síguenos en Twitter') %}" ><img class="semiopaque" src="{{globals.base_static}}img/external/tw-24.png" width="24" height="24" alt="Twitter"/></a>
		{% else %}
			{% if globals.twitter_page && this_site.owner == 0 %}
				<a href="{{ globals.twitter_page }}" title="{% trans _('síguenos en Twitter') %}" ><img class="semiopaque" src="{{globals.base_static}}img/external/tw-24.png" width="24" height="24" alt="Twitter"/></a>
			{% endif %}
		{% endif %}
		</ul>
	</div>
	#}

</div>
{% endif %}
