</div> {# container #}
</div> {# wrap #}

{% include 'footer_menu.html' %}

<div id="footthingy">
	<div class="copuchin"><img src="{{ globals.base_static }}img/cpchl/gc_white.svg" height="50" width="50"></div>
	<div class="col">
		<div class="row-title">mediatize</div>
		<div class="row-foot">
		<a href="{{ globals.legal }}">{% trans _('condiciones legales') %}</a>, <a href="{{ globals.legal }}#tos">{% trans _('de uso') %}</a>&nbsp;<a href="{{ globals.legal }}#cookies">{% trans _('y de cookies') %}</a>
		&nbsp; | &nbsp;<a href="{{ globals.base_url_general }}faq-{{ globals.lang }}#we">{% trans _('quiénes somos') %}</a>
		{% if not globals.mobile %}
			&nbsp; | &nbsp;{% trans _('licencias') %}:&nbsp;
			<a href="{{ globals.base_url_general }}COPYING">{% trans _('código') %}</a>,&nbsp;
			<a href="http://creativecommons.org/licenses/by-sa/3.0/">{% trans _('gráficos') %}</a>,&nbsp;
			<a rel="license" href="http://creativecommons.org/licenses/by/3.0/es/">{% trans _('contenido') %}</a>
			&nbsp; | &nbsp;<a href="http://validator.w3.org/check?uri=referer">HTML5</a>
			&nbsp; | &nbsp;<a href="https://github.com/consultiaio/mediatize.git">{% trans _('código fuente') %}</a>
		{% endif %}
		</div>
	</div>
</div> {# #footthingy #}

</div> {# #variable #}



<div id='backTop'></div>

{% include 'footer_js.html' %}
{% try_include 'private/footer.html' %}

{% meneame_endtime %}



{% if ! globals.partial %}

{# warn warn warn dont do stats of password recovering pages #}

{% if globals.post_html %}
	{{ globals.post_html }}
{% endif %}


</body>
{% endif %} {# PARTIAL #}

</html>
