{% if globals.extra_js %}
	<script>
	{% for js in globals.extra_js %}
    	{% if js|substr:"0, 4" == 'http' OR js|substr:"0, 2" == '//' %}
        	postJavascript.push("{{ js }}");
    	{% else %}
        	postJavascript.push("{{ globals.base_static }}js/{{ js }}");
    	{% endif %}
	{% endfor %}
	</script>
{% endif %}

{% if ! globals.partial %}
<!--[if lt IE 9]>
<script src="{{ globals.jquery }}"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js" integrity="sha256-LOnFraxKlOhESwdU/dX+K0GArwymUDups0czPWLEg4E=" crossorigin="anonymous"></script> #}
<!--<![endif]-->
<script src="{{ globals.base_static }}js/{{ globals.js_main }}?{{ current_user.user_id }}"></script>
{% endif %}

{# Include Google Adsense Async javascript #}
{% try_include 'private/ad-google-async.html' %}

