<div class="userspace">

{% if current_user.user_id > 0 %}
	<div class="header-userspace">
	<div class="userinfo">
		{# USERMENU #}
		<div class="btn-group">
			<div id="usermenu" data-toggle="dropdown" {#class="suggestion u:{{ current_user.user_id }}"#} >
				{# <img id="avatar" src="{{ globals.base_static }}img/g.gif" data-2x="s:-25.:-40." data-src="{% exec get_avatar_url current_user.user_id, current_user.user_avatar, 25 %}" class="lazy" alt="{{current_user.user_login}}"/> #}
				<img src="{% exec get_avatar_url current_user.user_id, current_user.user_avatar, 25 %}" class="avatar" alt="{{current_user.user_login}}"/>
				{% if ! globals.mobile %}<div class="usertext wideonly"><span>{{current_user.user_login}}</span></div>{% endif %}
			</div>
			{% include "header_user_menu.html" %}
		</div>

		{# NOTIFICATIONS #}
		<div class="btn-group" id="notifications">
			<div class="notifier-zone" data-toggle="dropdown">
				<i class="fa fa-bell"></i>
				<span id="notifier" class="notifier-badge zero"></span>
			</div>
			<ul class="dropdown-menu notifications bullet pull-right" id="notifier-dropdown"></ul>
		</div>
	</div>
	</div>
{% else %}
	<div class="header-buttons">
		{% include "header_login_menu.html" %}
	</div>
{% endif %}
</div>

