<div id="toplink">

{% if self.thumb_url %}
	<div class="imgbox">
		<img src='{{ self.thumb_url }}' width='{{ self.thumb_x }}' height='{{ self.thumb_y }}' alt="{{ self.title }}"/>
	</div>
{% endif %}

	<div class="textbox">
		<span class="title-header"><a href="{{ globals.base_url }}top_active">{% trans _('Destacada') %}</a></span>

		<h1><a href="{% exec self.get_permalink %}">{{ self.title }}</a></h1>

		{% if not globals.mobile %}
			{% if self.thumb_url %}
				<p class="news-content">{% exec text_to_summary self.content 600 %}</p>
			{% else %}
				<p class="news-content">{% exec text_to_summary self.content 200 %}</p>
			{% endif %}
		{% endif %}

	</div>

</div>   <!-- toplink -->
