<div class="miner">
	<div class="text">
	Si quieres colaborar con Mediatize y garantizar la continuidad de esta web, puedes ayudarnos con tu ordenador a <a href="https://www.taringa.net/posts/info/19938440/Monero-XMR-que-es-y-como-funciona-megapost.html"
	target="_blank">minar moneros</a> (más información: <a href="https://es.wikipedia.org/wiki/Criptomoneda" target="_blank">criptomoneda</a>): haz click en el botón de "Play" donde pone "START MINING". Eso es todo.
	</br></br>
	Para dejar de minar, solo has de hacer click en el botón de "pausa" o cerrar la ventana. Pero si no pulsas "pausa" antes de cerrar, la próxima vez que entres se activará automáticamente el minado.
	Ten en cuenta que mientras se esté "minando", tu ordenador podría ir un poco lento debido a que se estará usando intensamente su CPU (por defecto solo al 80%).
	Si esto ocurre y te resulta molesto, puedes bajar un poco los valores de los parámetros "SPEED" y "THREADS" para que consuma menos CPU y así se alivie la
	carga de la CPU de tu ordenador (esto se hace siempre en esta página, al final, donde salen los controles). Así podrás seguir colaborando con Mediatize sin que te ocasione problemas.
	Hay que estar conectado a internet para poder "minar", pero el consumo de datos es muy pequeño.
	</br></br>
	También estamos abiertos a <b>colaboraciones</b> en formato <a href="http://bitcoin.org" target="_NEW">BitCoin</a>. Envía tus bitcoins aquí:
	<b><a href="bitcoin:{{ globals.miner_bitcoin }}">{{ globals.miner_bitcoin }}</a></b>
	<br/><br/>
	<b>ATENCIÓN: si no sale la ventana inferior o sale "Cargando..." y nunca acaba saliendo el botón de "Play", puede ser que el ADBLOCK que tengas instalado en tu navegador esté bloqueando nuestra página. Desactívalo o pon nuestra web en la lista blanca para que puedas contribuir.</b>
	</div>

	<script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
	<div class="coinhive-miner"
		data-key="{{ globals.miner_monero }}"
		data-whitelabel="true"
		data-autostart="true"
		data-background="#000"
		data-text="#0c0"
		data-action="#0f0"
		data-graph="#555"
		data-throttle="0.2"
	>
		<em>Cargando...</em>
	</div>
</div>
