<div class="post-text">
	{{ self.content }}

	{% if self.media_size > 0 %}
		&nbsp;
		<a class="fancybox" title="{% trans _('subida por') %} {{ self.username }} ({{ self.media_size }} bytes)" href="{{ self.media_url }}"><img

		{% if globals.cache_redirector %}
			class="thumb ok"
			src="//{{ globals.server_name }}/{{ self.media_thumb_dir }}/media_thumb-post-{{ self.id }}.{{ self.media_extension }}?{{ self.media_date }}" 
		{% else %}
			class="thumb"
			src="img/common/picture01.png" width="30" height="24"
		{% endif %}
		alt="media" {# title="{% trans _('Mayúsculas+Clic para expandir todas') %}" #}/></a>
	{% endif %}

	{% if self.can_edit %}
	<div class="btn-comment-edit">
		<a class="edit-btn comment-btn" href="javascript:post_edit({{ self.id }})" title="{% trans _('editar postit') %}">
			<span class="fa fa-pencil"></span>&nbsp;{% trans _('editar') %}
		</a>
	</div>
	{% endif %}
</div>

