<div id="pcontainer-{{ self.prefix_id }}{{ self.id }}">
	<div class="{{ post_class }}" id="pid-{{ self.prefix_id }}{{ self.id }}">
	{% if self.is_disabled %}
		&#187;&nbsp;<a href="javascript:get_votes('get_post.php','post','pid-{{ self.prefix_id }}{{ self.id }}',0,{{ self.id }})" title="{% trans _('ver texto') %}">{% trans _('ver texto') %}</a>
	{% else %}
		{% include 'post_summary_text.html' %}
	{% endif %}


	</div>
	<div class="{{ post_meta_class }}">
		<div class="comment-votes-info">
		{% if self.can_vote %}
			{% if self.user_can_vote %}
				<span id="vc-p-{{ self.id }}" class="vote fa fa-heart-o" onClick="mediatize_post({{ current_user.user_id}},{{ self.id }},1)" title="{% trans _('informativo, opinión razonada...') %}"></span>
				{% include 'post_summary_votes.html' %}
			{% else %}
				{% if self.voted > 0 %}
					<span id="vc-p-{{ self.id }}" class="vote fa fa-heart voted" title="{% trans _('votado positivo') %}"></span>
				{% endif %}
				{% include 'post_summary_votes.html' %}
			{% endif %}
			{% else %}
				{% include 'post_summary_votes.html' %}
		{% endif %}

		<a href="{% exec post_get_base_url self.id %}" title="permalink" class="fa fa-link comment-link-margin"></a>


		{% if current_user.user_id > 0 %}
			<span id="favp-{{ self.prefix_id }}{{ self.id }}" onclick="add_remove_fav('favp-{{ self.prefix_id }}{{ self.id }}', 'post', {{ self.id }})" {% if self.favorite %} class="fa fa-star" {% else %} class="fa fa-star-o" {% endif %} ></span>
			<span onclick="post_reply({{self.id}},'{{ self.username}}')" title="{% trans _('responder') %}" class="fa fa-reply"></span>
		{% endif %}
	</div>

		<div class="comment-info">
			<span class="ts nomobile showmytitle" data-ts="{{ self.date }}" title="{% trans _('creado') %}: "></span>
			{% if !self.admin %}
			<a class="username" href="{%exec post_get_base_url self.username %}">{{ self.username }}</a>
			{% else %}
			<strong>{% trans _('admin') %}</strong>
			{% if current_user.admin %}({{ self.username }}){% endif %}
			{% endif %}


		</div>
	</div>
</div>
