{% if globals.mobile %}
	<div class="subheader">
		<form class="tabs-combo" action="">
		<select name="tabs" onchange="location = this.value;">
			{% for item in items %}
				<option value="{{globals.base_url}}{{item.url}}" {% if item.id == option OR item.selected %}selected="selected"{% endif %}>{{ item.title }}</option>
			{% endfor %}

			{% if feed %}
				<option value="{{globals.base_url}}rss{{feed.url}}" title="{{feed.title}}" >rss feed</option>
			{% endif %}
		</select>
		</form>
	</div>
{% else %}
	<ul class="subheader">
		{% for item in items %}
		<li {% if item.id == option OR item.selected %}class="selected"{% endif %}>
			<a href="{{globals.base_url}}{{item.url}}">{{ item.title }}</a>
		</li>
		{% endfor %}

		{% if feed %}
		<li class="icon wideonly">
			<a href="{{globals.base_url}}rss{{feed.url}}" title="{{feed.title}}" >
			<span class="fa fa-rss-square"></span>
			</a>
		</li>
		{% endif %}
	</ul>
{% endif %}

