<article itemscope="" itemtype="http://schema.org/Article"
	data-contenturl="{{ url }}"
	data-title="{{ title }}"
	data-source="{{ blog_url }}"
	data-date-publish="{{ date }} UTC"
>
<div class="news-summary2">
	<div class="news-body2">

	{# ################################  IMG  ######################################### #}
	<div class="news-img-zone">
		<div class="img-container">
		{% if media_url %}
			<img class="img-story3" src="{{ media_url }}" alt="img"/>
		{% else %}
			<img class="img-story2" src="{{ globals.base_static }}img/cpchl/no-image.png" alt="img"/>
		{% endif %}
		</div>
	</div>  {# news-img-zone #}

	{# ############################# NEWS META INFO right ########################### #}
	<div class="news-info">
		{# #############################  URL TITLE  #################################### #}
		{% exec htmlspecialchars url as url2 %}
		<h2><a href="{{ url2 }}" target="_blank" rel="nofollow">{{ title }}</a></h2>

		{# ###############################  CONTENT ############################### #}
		<p class="news-content2">{{ summary }}</p>

		{# ########## POST BUTTON ########## #}
		<div class="btn-news-edit">
			<a class="post-btn" href="{{ globals.scheme }}//{{ globals.server_name }}/submit?url={{ url }}" title="{% trans _('enviar historia') %}">{% trans _('ENVIAR') %}</a>
		</div>

		{# #########################  NEWS INFO (FOOT) ################################## #}
		<div class="news-info-footer">
			{% if ! globals.bot %}
			<div class="news-submitted">
				<span class="media">{{ blog_title }}</span>&nbsp;|&nbsp;<span class="showmytitle" title="{{ blog_url }}">{{ blog_url }}</span>
				<br />
				{% trans _('publicado: ') %}
				<time datetime="{{ date }}" class="tsrender" title="{% trans _('publicado') %}: {{ date }} UTC">________</time>
			</div>
			{% endif %}
		</div> {# news-info-footer #}
	</div> {# news-info #}

	</div> {# news-body2 #}
</div> {# news-summary2 #}
</article>

