#header, #footthingy {
	display: none;
}

#wrap {
	background: #000;
	margin: 0;
	padding: 0;
}

#footwrap {
	display: none;
}

body {
	color: #ff9a06;
	margin: 0;
	padding: 0;
	background: #000;
	font-family: bitstream mono, courier, courier new, mono;
	font-size: small;
}

#header-top {
	opacity: 0.5;
}

#header-menu {
	display: none;
}

.fa-bars, .fa-navicon {
	color: #ff9a06;
}


/* elements */

abbr { cursor: help; }

img {
	opacity:0.3;
	filter:alpha(opacity=30);
}

a, label {
	color: #ff9a06 !important;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #ff9a06 !important;
	text-decoration: underline;
}

a:active {
	color: #ff9a06 !important;
}

form, input {
	font-family: bitstream mono, courier, courier new, mono;
	color: #ff9a06;
	background: #000;
}


/* sneaker */

.sneaker {
	margin: 10px 10px 10px 10px;
}

.sneaker strong {
	font-size: 95%;
	color: #ffa420;
}

.sneaker-legend {
	color: #ffa420;
	text-align: center;
	padding: 0 0 5px 0;
	margin: 0px;
	background: #000;
	border-bottom: 1px solid #ffa420;
	font-size: 10pt;
}

.sneaker-legend img {
	padding: 0 20px 0 5px;
	margin: 0 0 -4px 0;
}

.sneaker-control {
	margin: 0 0 0 0;
}

.sneaker-item {
	width: 100%;
	clear: both;
	border-bottom: 1px solid #ffa420;
	padding: 5px 0 5px 0;
	text-align: center;
	overflow: hidden;
}

/*
.sneaker-item:hover {
	background-color: #FFE2C5;
}
*/

.sneaker-type img {
	border: none;
	margin: 0 0 0 0;
	vertical-align: middle;
}


.sneaker-chat {
	color: #ff9a06;
	text-align: left;
	overflow: hidden;
}

.sneaker-chat a {
	color: #ffa420;
}

.sneaker input {
	background: #000;
	margin: 7px 0 2px 0;
	border: 1px solid #ffa420;
	color: #ff9a06;
}

.sneaker input.sendmessage {
	border: 1px dotted #ffa420;
	font-size: 90%;
}

