<div id="singlewrap">
<br/>
<h2>{% trans _('paso 1 de 3') %}</h2>
{% if show_help && ! globals.submnm %}
	<div class="faq">
	<h3>{% trans _('por favor, respeta estas instrucciones para mejorar la calidad:') %}</h3>
	<ul class="instruction-list">
	<li><strong>{% trans _('Contenido externo') %}:</strong> {% trans _('Mediatize no es un sitio para generar noticias, ni un sistema de <em>microblogging</em>.') %}</li>
	<li><strong>{% trans _('Contenido interesante') %}:</strong> {% trans _('¿interesará a una cantidad razonable de lectores?') %}</li>
	<li><strong>{% trans _('Enlazar la fuente original') %}:</strong> {% trans _('no enlace a sitios intermedios que no añaden nada al original.') %}</li>
	<li><strong>{% trans _('Buscar antes') %}:</strong> {% trans _('evite duplicar historias.') %}</li>
	<li><strong>{% trans _('Ser descriptivo') %}:</strong> {% trans _('explique el enlace de forma fidedigna, no distorsione.') %}</li>
	<li><strong>{% trans _('Respete el voto de los demás:') %}</strong> {% trans _('si los votos le pueden afectar personalmente, es mejor que no envíe la historia.') %}</li>
	<li><strong>¿{% trans _('Ha leído las') %} <a href="{{ globals.base_url_general }}legal#tos" target="_blank">{% trans _('condiciones de uso') %}</a>?</strong></li>
	</ul></div>
{% endif %}

{% if globals.submnm && link.rules %}
	<div class="faq">
	<h3>{% trans _('por favor, respeta las normas del sub') %}</h3>
	<p>{{ link.rules }}</p>
	</div>

{% endif %}

{% include 'link/submit_empty_form.html' %}
</div>
