/*********************
 *** Copuchalo mod ***
 *********************/

body {
	font-family: 'Nimbus Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
	/*font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;*/
}

.img-container {
	display: block;
	margin-bottom: 5px;
}

.img-container img.img-story {
	display: block;
	margin: auto;
}

#newswrap {
	margin: 10px 316px 0px 4px;
}

.news-summary {
	/*position: relative;*/
	/*float: left;*/
	/*margin: 0 auto;*/
	display: inline-block;
	width: 312px;
	max-height: 675px;
	padding: 9px;
	margin-bottom: 5em;
	vertical-align: top;
}

.news-body {
	overflow: hidden;
}

/*
.news-body h2 a,
.news-info h2 a {
*/
.news-body h1 a,
.news-body h2 a,
.news-info h1 a,
.news-info h2 a { 
	color: #000;
	-o-transition:color .2s ease-out, background .5s ease-in;
	-ms-transition:color .2s ease-out, background .5s ease-in;
	-moz-transition:color .2s ease-out, background .5s ease-in;
	-webkit-transition:color .2s ease-out, background .5s ease-in;
	transition:color .2s ease-out, background .5s ease-in;
}

.news-body h1 a:hover,
.news-body h2 a:hover,
.news-info h1 a:hover,
.news-info h2 a:hover { 
	color: #005be2;
	border-color: #005be2;
	text-decoration: none;
}

.news-body h1,
.news-body h2,
.news-info h1,
.news-info h2 {
	font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;
	/*font-family: Roboto, sans-serif;*/
	font-size: 21px; /*1.313em;*/
	font-weight: bold;
	line-height: 1.15em;
	padding: 5px 0 8px 0;
	background: none;
	border: none;
}

.news-title {
        color: #111;
        /*font-size: 0.9em;*/
        word-wrap: break-word;
        margin: 0;
	text-decoration: none;
}

/* "ellipsis effect" without ellipsis :D */
.news-content {
        color: #444;
	width: 98%;
	max-height: 142px;
	display: block;
	font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 0.875em;
        font-weight: normal;
        line-height: 1.428571429em;
        margin: 0 auto 5px auto;
	//overflow: auto;
	//white-space: nowrap;
	//text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
}

.news-content:before {
	content:"";
	float: left;
	width: 5px;
	height: 142px;
}

.news-content > *:first-child {
	float: right;
	width: 100%;
	margin-left: -5px;
}

.news-content:after {
	//content: "\02026";
	//color: #000;
	content: ".";
	color: white;

	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;

	float: right;
	position: relative;
	top: -25px;
	left: 100%;
	width: 15em;
	margin-left: -15em;
	padding-right: 5px;

	text-align: right;

	background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white), color-stop(100%, white));
	background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 100%, white);
	background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 100%, white);
	background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 100%, white);
	background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%, white);
}

.news-submitted {
	font-family: 'Roboto', sans-serif;
	/*font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-size: 0.7em;
	padding: 5px;
	margin: 0;
	white-space: nowrap;
	min-height: 25px;
	color: #666;
}

.news-submitted img {
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 4px;
	vertical-align: bottom;
	border: none;
	border-radius: 2px;
}

.news-submitted a:link,
.news-submitted a:visited {
	font-weight: bold;
	color: #555;
}

.news-submitted .showmytitle {
	font-weight: bold;
	cursor: pointer;
}

.news-details {
	font-family: 'Roboto', sans-serif;
        font-size: 0.7em;
	color: #777;
	display: block;
	padding: 5px;
	margin-top: 5px;
}

.news-details .main {
	line-height: 120%;
	margin-top: 6px;
}

.news-details .nd-item {
	display: inline-block;
}

.news-details a:link,
.news-details a:visited,
.news-tags,
.news-tags a:link,
.news-tags a:visited {
	color: #666;
}

.news-tags img.etiquetas {
	height: 10px;
	width: 10px;
}

.news-details form {
display: inline;
margin-left:10px;
padding: 0;
overflow: hidden;
}

.news-details select {
border: 0;
letter-spacing: 0px;
vertical-align: top;
max-width: 6em;
}

.tool {
	display: inline;
	font-size: 0.9em;
	font-weight: 700;
	line-height: 1.2em;
	font-family: inherit;
	letter-spacing: 1px;
	margin: 0 0 0.364em;
}

.tool a:link,
.tool a:visited {
	color: #555;
	/*color: #005be2;*/
	text-decoration: none;
}



/*********************************** SHARES & COMMENTS **************************************/

.shareoptions {
        display: inline-block;
	width: 100%;
	margin: 5px;
}

.shareoptions .span {
	vertical-align: center;
}


.share_icons {
	display: inline-block;
}

.negative-combo:hover {opacity: 1.0;}
.negative-combo {
	display: inline-block;
	margin-left: 1.2em;
	font-family: 'Roboto', sans-serif;
	opacity: 0.6;
}

.comments-link {
	display: inline-block;
	margin-left: 4px;
}


.share_icons span {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 1px;
	padding: 0;
	opacity:0.6;
	cursor:pointer;
	vertical-align: text-top;
	background: url({{ globals.base_static }}img/common/icons-common.png) no-repeat;
	background-size: 20px 300px;
}

.share_icons span:hover {
	opacity:1.0;
}

.share_icons span.fb {
	background-position: 0px -180px;
}

.share_icons span.tw {
	background-position: 0px -160px;
}

.share_icons span.pmlink {
	background-position: 0px -40px;
}


/* Comments bubble */

a.comment-bubble:hover{opacity: 1.0;}
a.comment-bubble {
	display: inline-block;
	position:relative;
	margin: 0;
	min-width: 34px;
	height: 18px;
	padding: 2px;
	opacity: 0.5;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font: 1em Arial, sans-serif;
        font-weight: bold;
	text-decoration: none;
	color: #fff;
	background: #000;   /* fallback */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#bbb), to(#000));
	background: -webkit-linear-gradient(#bbb, #000);
	background: -moz-linear-gradient(#bbb, #000);
	background: -o-linear-gradient(#bbb, #000);
	background: linear-gradient(#bbb, #000);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	//border: 1px solid #000;
}

a.comment-bubble:after {  /* triangle */
	content: "";
	position: absolute;
	bottom: -5px;
	left: 11px;
	border-width: 5px 5px 0px 0px;
	border-style: solid;
	border-color: #000 transparent;
	display: block;
	width: 0;
}

.icon-tags {
	color: #000;
	display: inline-block;
	background: transparent;
	background-color: transparent;
	background-image: url('{{ globals.base_static }}img/common/tags.png');
	width: 1em;
	margin-right: .2em;
	margin-left: .2em;
}

/* ********************************************************************************** */





/* *******************************  SHAKE BOX *************************************** */

.sbox-margin {
	display: block;
	margin-bottom: 2em;
}

.sbox {
	display: inline-block;
	float: right;
	margin: 0px;
}

.sbox .numcop {
	display: inline-block;
	padding: 4px 2px 4px 2px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border-radius: 4px;
	min-width: 2em;
}

.sbox a.numcop {
	font: 1em Arial, sans-serif;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

.numcop.mnm-published, .numcop.mnm-published a {
	color: #fff;
	background-color: #005be2; /* fallback */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#3a97ff), to(#005be2));
	background: -webkit-linear-gradient(#3a97ff, #005be2);
	background: -moz-linear-gradient(#3a97ff, #005be2);
	background: -o-linear-gradient(#3a97ff, #005be2);
	background: linear-gradient(#3a97ff, #005be2);
}

.numcop.mnm-queued {
	color: #005be2;
	background-color: transparent;
	border: solid #005be2 1px;
}

.numcop.mnm-queued a {
	color: #005be2;
	background-color: transparent;
}

.numcop.mnm-discarded {
	color: #666;
	background-color: #ccc;
	border: solid #666 1px;
}

.numcop.mnm-discarded a {
	color: #666;
	background-color: #ccc;
}



.sbox .numclics {
	color: #666;
}

.sbox .cop {
	display: inline-block;
}

.sbox .cop span {
	background-color: transparent;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	color: #005be2;
	padding: 10px 20px 10px 20px;
	border: solid #005be2 1px;
	text-decoration: none;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	-webkit-appearance: none;
}

.sbox .btn {
	background-color: transparent;
	-webkit-border-radius: 4;
	-moz-border-radius: 4;
	border-radius: 4px;
	//font: 500 13px lato, sans-serif;
	/*color: #14b9d5;*/
	color: #005be2;
	padding: 10px 20px 10px 20px;
	/*border: solid #14b9d5 1px;*/
	border: solid #005be2 1px;
	text-decoration: none;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
	-webkit-appearance: none;
}

.sbox .btn:hover {
	/*background: #14b9d5;*/
	background: #005be2;
	color: #fff;
	text-decoration: none;
	background-color: #005be2; /* fallback */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#3a97ff), to(#005be2));
	background: -webkit-linear-gradient(#3a97ff, #005be2);
	background: -moz-linear-gradient(#3a97ff, #005be2);
	background: -o-linear-gradient(#3a97ff, #005be2);
	background: linear-gradient(#3a97ff, #005be2);
}

.sbox .btn:active {
	-webkit-box-shadow: inset rgba(0,0,0,.3) 0px 1px 4px;
	box-shadow: inset rgba(0,0,0,.3) 0px 1px 4px;
}



/* ************************************************************************************** */

::-moz-selection {
	background: #cdd2d9;
}

.warning {
	position: relative;
	padding: 5px 10px 5px 28px ;
	margin: 0px 0 5px 0;
	font-size: 85%;
	background: #ebf3ff url({{ globals.base_static }}img/common/error_s.png) 5px 50% no-repeat;
	background-size: 16px 16px;
}

.warning a:link,
.warning a:visited {
	color: #f44;
	text-decoration: underline;
}



/* ************************************ NO FRONT PAGE ********************************** */
.news-summary2 {
	margin: 0;
        padding: 10px 0 10px 0;
	position: relative;
}

.news-body2 {
	padding-left: 240px;
	padding-right: 5px;
	overflow: hidden;
}

.news-img-zone {
	position: absolute;
	width: 233px;
	top: 10px;
	left: 0px;
}

.news-img-zone img.img-story2 {
	max-width: 100%;
	max-height: 100%;
}

.news-info {
	padding-left: 10px;
	padding-bottom: 30px;
	width: 100%;
}

.news-content2 {
        color: #444;
        display: block;
        font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 0.875em;
        font-weight: normal;
        line-height: 1.428571429em;
}

/* *************************************  COMMENTS ********************************* */



