/* *************** */
/* Handheld config */
/* *************** */

#sidebar, #edlist, .logo-ed, .wideonly, .wide {
	display: none;
	background: none !important;
}


/* Avoid auto zoom */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="email"], input[type="url"], input[type="search"] {
font-size: 16px;
}

/* Menu bullets */
.dropdown-menu.usermenu.bullet.pull-right:before {
	right: 9px;
}
.dropdown-menu.usermenu.bullet.pull-right:after {
	right: 10px;
}


/*
#variable {
	min-width: 0;
}

#wrap {
	min-width: 0;
}

#header{
	min-width: 0;
}
*/

/*
#newswrap {
	margin: 15px 0 0 0;
}

#singlewrap {
	margin: 0;
}
*/

/*
#header-top {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height:40px;
	z-index: 10;
}
*/
/*
#header-central {
	position: relative;
	height: 22px;
	overflow: hidden;
	white-space: nowrap;
	font-size: 1em;
	padding: 5px 5px;
	background-color: #a0c5e8;
	border-bottom: #888 solid 1px;
	vertical-align: middle;
}

#header-sub,
#header-sub a {
	color: #222;
	font-variant:small-caps;
	font-weight:bold;
}

#header-sub .edname a img {
	vertical-align: bottom;
}

#header-sub .favorite {
	vertical-align: middle;
}

*/

#nav-menu {
	margin-left: 10px;
}

#header-top ul#userinfo {
	height: 40px;
	margin: auto 0;
}

#header-top ul#userinfo li {
	font-size: 18px;
}

#header-top ul#userinfo li.login-icon,
#header-top ul#userinfo li.login-icon a {
	font-size: 30px;
}

.sneaker {
	font-size: small;
}


.comment-body {
	font-size: inherit;
}

.comment-meta .comment-info {
max-width: 24%;
}

.news-details, .news-submitted {
white-space: normal;
}

.news-details form {
float: right;
}

.news-details .comments-counter {
font-size: 100%;
}

.comments, .notes {
margin: 10px 0 0 0;
}

.pages.margin {
margin-left: 5px;
}

.news-summary .warn {
margin-left: 80px;
}

.commentform.warn {
margin-left: 0;
}

.genericform {
border: 0;
margin: 0 10px 10px 10px;
}

.semiopaque {
opacity:0.8;
}

#cboxTitle {
font-weight: normal;
}


/* ********************* */
.news-summary {
	margin-bottom: 2em;
}

.news-summary-height {
	height: auto;
}

table.keyvalue {
        padding-top: 30px;
}

/*
a.comment-bubble {
	min-width: 30px;
	height: 18px;
}
*/

.comments .expand {
	vertical-align: sub;
}

