/*
Description: Menéame CSS file
Site URI: http://meneame.net
Authors: Ricardo Galli, Benjamí Villoslada, Damián Vila, Aníbal De Castro
Licence: Affero GPL License (http://meneame.net/COPYING)
*/

html * {
	margin: 0;
	padding: 0;
}

body {
	/*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	/*font-family: 'Arial, Helvetica Neue', Helvetica, sans-serif;*/
	font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;
	/*font-size: small;*/
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	/*background-image: url('{{ globals.base_static }}img/common/bkg-01.png');*/
	color: #444;
	background-color: #fff;
	margin:0px;
	padding:0px;
}

#ajaxinfo {
	display: none;
}

/*
:focus {
	outline: 0;
	color: #777777;
	background: #fff;
}
*/

/* *************************************************************** */
.genericform h2 {
	margin: 10px 0 10px 0;
}

.genericform {
	border: 0;
	margin: 0 60px 10px 60px;
	padding: 0 0 20px 0;
	color: #005be2;
	background: #fff;
}

.genericform .sign {
	font-weight: normal;
	//font-size: 110%;
}

.genericform .genericformtxt {
	font-size: 100%;
	font-weight: normal;
	color: #444;
}

.genericform textarea {
	width: 100%;
}

.geoform {
margin: 5px 0 5px 0;
font-size: 8.5pt;
background: #FFF;
color: #777777;
}

.genericform .recoverpass {
	font-size: 1.2em;
	color: #005be2;
}

.genericform .recoverpass a:link, .recoverpass a:visited {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	padding-bottom: 1px;
	text-decoration: none;
	color: #005be2;
}

.genericform .recoverpass a:hover {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 1px;
	text-decoration: none;
}

.genericform .formnotice {
	font-weight: normal;
	color: #303030;
}

.genericform .sign legend {
	color: #005be2;
}



fieldset {
	border: solid #a7cbff 1px;
	border-radius: 5px;
	padding: 10px 10px;
	margin: 10px 0;
	background: #e6f0ff;
}

legend {
	font-weight: normal;
	padding: 0 5px;
	border-radius: 2px;
}

legend a {
	text-decoration: underline;
}

legend, legend a, legend a:visited {
	background: #333;
	color: #eee;
}

legend a:hover {
	color: #e2005b;
}

input, textarea {
	margin: 0 0 10px 0;
	padding: 2px 2px;
	background: #fff;
	border: 1px solid #cce0ff;
	color: #333;
}

.button, button, input[type="button"], input[type="submit"] {
	padding: 2px 4px;
	text-decoration: none;
	text-align: center;
	//font-weight: bold;
	cursor: pointer;
	-webkit-appearance: none;

	color: #fff;
	background-color: #005be2; /* fallback */
	//background: -webkit-gradient(linear, 0 0, 0 100%, from(#3a97ff), to(#005be2));
	//background: -webkit-linear-gradient(#3a97ff, #005be2);
	//background: -moz-linear-gradient(#3a97ff, #005be2);
	//background: -o-linear-gradient(#3a97ff, #005be2);
	//background: linear-gradient(#3a97ff, #005be2);
	//border: solid #005be2 1px;
	//border-radius: 4px;
	border: none;
}

.button:hover, button:hover, input[type="button"]:hover, input[type="submit"]:hover {
	//color: #005be2;
	opacity: 0.7;
}

.button:disabled, button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled {
	background: #eee;
}

label {
	font-weight: bold;
	color: #0053ce;
}

.note {
	font-size: 0.8em;
	font-weight: normal;
	color: #0053ce;
}

/************************************************************************************************************/



a {
	text-decoration: none;
	outline: none;
	color: #444;
}

a:hover,
a:visited:hover,
a:focus {
	text-decoration: underline;
	color: #005be2;
}

a:active {
	color: #e28700;
}


a:visited {
	color: #444;
}

#cboxTitle a:visited {
	color: #005be2;
}

input[disabled], input[readonly], select[disabled], select[readonly], checkbox[disabled], checkbox[readonly], textarea[disabled], textarea[readonly]
{
color: #aaa;
}

#map, .commentform.warn, .warn, .box, .searchbox, fieldset, label, .button, button {
border-radius: 3px;
}

#header-top, #header-center, .answers .counter, #notifier_panel, #user-panel, #nav-panel, #header-menu, .subheader, .sidebox  {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#variable {
width: 100%;
min-width: 790px;
margin-top: 30px;
}

#header{
width: 100%;
}

#header-top{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height:30px;
	background-color:#333;
	//background-color:#3c3c3c;
	overflow:hidden;
	white-space:nowrap;
	z-index: 900;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.5)
}




@media (min-height: 600px) {
    #header-top {
    position: fixed;
    }
}


#header-top .logo-mnm{
background: url('{{ globals.base_static }}img/mnm/logos-common.png') no-repeat 0 0;
background-size: 110px 50px;
height:20px;
width:105px;
margin: 5px 0 0 8px;
float:left;
font: 0/0 serif;
text-shadow: none;
color: transparent;
cursor: pointer;
}

#header-top .logo-ed {
	background: url('{{ globals.base_static }}img/mdtz/logo-white.svg') no-repeat left top;
	background-size: 25px 25px;
	height:25px;
	width:25px;
	margin: 3px 22px 5px 5px;
	vertical-align: middle;
	float:left;
}

#header-top ul#edlist {
	display: inline-block;
	list-style-type:none;
	margin: 2px 0 0 0;
	padding:0;
	//float:left;
}

#header-top ul li {
	display: inline-block;
	font-size:14px;
	color:#fff;
	position:relative;
	//float:left;
	line-height:140%;
}

#header-top ul#edlist li a {
	display: inline-block;
	padding-top: 1px;
	text-decoration: none;
	white-space: nowrap;
	height: 23px;
	margin-right: 10px;
	color: #fff;
	//border-bottom: 3px solid transparent;
	//transition: 0.1s ease;
}

#header-top ul#edlist li.selected a,
#header-top ul#edlist li a:hover {
	border-bottom: 3px solid #fff;
	//transition: all 0.1s ease-in-out 0.1s;
}

#header-top ul#userinfo {
	display:inline-block;
	font-size: 0;              /* To avoid inter-element <li> spacing */
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
	right: 0;
	top: 0;
}

#header-top ul#userinfo li {
	display:inline-block;
	vertical-align: middle;
	position:relative;
	margin: 0;
}

#header-top ul#userinfo li a {
	text-decoration:none;
	font-size: 14px;
	color:#fff;
}

#header-top ul#userinfo li.usertext a:hover {
	opacity: 0.7;
}

#userinfo #avatar {
	width: 35px;
	height: 30px;
	cursor: pointer;
	/*border-radius: 15px;*/
}

#header-top ul#userinfo li.usertext {
	margin-right: 11px;
}

#header-top ul#userinfo li.login-icon {
	margin-right: 11px;
}

/*
#header-top .userlogin {
background: url({{ globals.base_static }}img/common/icons-common.png) no-repeat 10px -240px;
background-size: 20px 300px;
width:40px;
height:30px;
margin: 0;
font: 0/0 serif;
text-shadow: none;
color: transparent;
cursor: pointer;
}
*/

#header-center{
	height: 35px;
	background-color: #fff;
	border-bottom: #888 solid 1px;
	overflow: hidden;
	white-space: nowrap;
	padding-bottom: 2px;
	vertical-align: bottom;
}

#header-center img {
	vertical-align: bottom;
}


#header-center .logo-eli{
	//background: #e2eeff url('{{ globals.base_static }}img/mnm/h9_eli.png') no-repeat left top;
	background: #ffac31 url('{{ globals.base_static }}img/cpchl/gc_black.svg') no-repeat left top;
	background-size: 39px 35px;
	height: 35px; /*35px;*/
	width: 40px;  /*55px;*/
	margin: 5px 0 0 20px;
	float: left;
	font: 0/0 serif;
	text-shadow: none;
	color: transparent;
	cursor: pointer;
	border-radius: 15px;
}

#header-center .edname { 
	margin: 3px 0 0 15px;
	padding:0;
	font-size: 1.4em;
	vertical-align: middle;
	float:left;
	position:relative;
	//color: #222;
	background-color: transparent;
	font-variant:small-caps;
	font-weight:bold;
}

.edname a:link, .edname a:visited {color: inherit;}


.subname, .subname_base {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.85em;
	font-variant:small-caps;
}

.subname, .subname a:visited, .subname a:link {
	color:#fff !important;
	background-color:#ccc;
	padding: 0 1px;
}

.subname.big {
	font-size: 110%;
}

/* ********************* search box *********************** */

.searchform {
	height:auto;
	margin: 4px 10px 0 0;
	position:relative;
	float:right;
}

.searchform .searchbox {
	border:0px;
	width:280px;
	height:24px;
	font-size: 16px;
}





/* ******* NAV Menu / Panel ******** */

#nav-menu {
	display: inline;
	margin: 3px 7px;
	float: left;
	cursor: pointer;
}

#nav-panel {
	position: fixed;
	display: none;
	top: 30px;
	left: 0px;
	overflow: auto;
	z-index: 901;
	width: auto;
	height:auto;
	white-space:normal;
	margin-bottom: 0px;
	padding: 10px 15px;
	text-align: left;
	background-color:#333;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.5)
}

#nav-panel .header-menu01,
#nav-panel .header-menu02 {
	display: block;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	background-color: #333;
}

#nav-panel ul {
	margin-bottom: 10px;
	list-style-type: none;
}

#nav-panel ul li {
	margin: 0;
	padding: 6px 2px;
}

#nav-panel ul li a {
	white-space: nowrap;
	color: #eee;
	text-decoration: none;
}

#nav-panel ul li:hover,
#nav-panel ul li:hover a,
#nav-panel ul li.selected a {
	font-weight: bold;
}

.searchform {
	display: none;
}

#nav-panel .searchform {
	position:relative;
	display:block;
	margin:10px 0 0 0;
}

#nav-panel .searchform .searchbox {
	width:150px;
}






#wrap {
padding-top: 2px;
min-width: 805px;
max-width: 1326px;
width: 99%;
text-align: left;
background-color: #fff;
margin: auto;
margin-top: 0;
}

.banner-right {
	width: 100%;
	height: 252px;
	margin: 30px 0 20px 0;
}

#container {
clear:both;
}

#sidebar {
float: right;
width: 300px;
margin: 0 2px 25px 10px;
overflow: hidden;
padding-top: 10px;
}

#singlewrap {
	margin: 0 auto;
}

.singlewrap-login {
	margin: 0 auto;
	text-align: center;
}


#map {
overflow: hidden;
}



.topbox .footer {
	display:block;
	margin-top:5px;
	text-transform:capitalize;
	font-variant:small-caps;
	text-align:right;
	color:#666;
	text-decoration:underline;
}

.topbox {
position:relative;
background:#f9f9f9;
border:#ddd 1px solid;
padding: 7px 5px 3px 5px;
margin: 0 0px 15px 0;
min-height: 32px;
vertical-align:middle;
overflow: hidden;
white-space: nowrap;
}

.topbox .title {
	margin-top:5px;
	text-transform:capitalize;
	font-variant:small-caps;
	text-align:right;
	color:#aaa;
	//font-size:120%;
}

.topbox .footer {
text-decoration: none;
}

.topbox.opinion {
background: #f9f9f9 url({{ globals.base_static }}img/common/opinion_01.png) 99% 5px no-repeat;
padding-right: 40px;
}

.mini-icon-text {
vertical-align: middle;
}


.toggler img{
margin: 0px 0px 2px 2px !important;
vertical-align: middle;
}

.sidebox {
	margin-bottom:25px;
	padding: 4px;
	//border: 1px solid #dadada;
}

.sidebox.message {
	color:#fff;
	background-color:#ccc;
	font-size: 110%;
	padding: 8px;
}

.sidebox.message a:visited, .sidebox.message a:link {
color: inherit;
text-decoration: underline;
}

.sidebox .header {
	font-size: 0.9em;
	background: #ad0000;
	//background: #bbb;   /* fallback */
	//background: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#bbb));
	//background: -webkit-linear-gradient(#000, #bbb);
	//background: -moz-linear-gradient(#000, #bbb);
	//background: -o-linear-gradient(#000, #bbb);
	//background: linear-gradient(#000, #bbb);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.sidebox.red .header {
	background: #ad0000;
	//background: #4590ff;   /* fallback */
	//background: -webkit-gradient(linear, 0 0, 0 100%, from(#4590ff), to(#80b3ff));
	//background: -webkit-linear-gradient(#4590ff, #80b3ff);
	//background: -moz-linear-gradient(#4590ff, #80b3ff);
	//background: -o-linear-gradient(#4590ff, #80b3ff);
	//background: linear-gradient(#4590ff, #80b3ff);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.sidebox.brown .header {
	background: #a84504;   /* fallback */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#a84504), to(#c86524));
	background: -webkit-linear-gradient(#a84504, #c86524));
	background: -moz-linear-gradient(#a84504, #c86524));
	background: -o-linear-gradient(#a84504, #c86524));
	background: linear-gradient(#a84504, #c86524));
}

.sidebox h4 {
position: relative;
margin: 0 0 10px;
padding: 1px;
font-weight: normal;
text-align: center;
}

.sidebox h4 a,
.sidebox h4 a:visited,
.sidebox h4 span {
	display: block;
	font-size: 0.8em;
	padding: 5px;
	color: #fff;
	text-decoration: none;
	//border: 1px solid #FFF;
}

.sidebox h4 a:hover {
	color: #fff;
	text-shadow: 0 0 0.5em #000, 0 0 0.5em #000, 0 0 0.5em #000;
	transition: all 0.1s ease-in-out;
}


.sidebox h5 {
	padding: 0px;
	margin: 0 2px 0 50px;
	font-size: 12px;
	font-weight: normal;
	color: #03f;
}

.sidebox h5 a {
text-decoration: none;
}

.sidebox > div {
margin-right:0px;
padding-bottom:6px;
}

.sidebox .cell {
	margin: 5px 0;
	min-height:35px;
	clear: both;
}

.sidebox .celltags {
	margin: 5px 0;
	min-height: 40px;
	clear: both;
}

.sidebox .thumbnail {
	margin:0px 0px 10px 10px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.sidebox img.thumbnail {
	width: 60px;
	height: 33px;
	border: 1px solid rgba(0,0,0,0.05);
}



.sidebox .votes, .sidebox .clics {
	float: left;
	width: 40px;
	text-align: center;
	//font-size: 12px;
	border: 1px solid #aaa;
	border-radius: 2px;
	color: #444;
	background-color: #fff;
	//background-color: #f6f9ff; /* fallback */
	//background: -webkit-gradient(linear, 0 0, 0 100%, from(#005be2), to(#f6f9ff));
	//background: -webkit-linear-gradient(#005be2, #f6f9ff);
	//background: -moz-linear-gradient(#005be2, #f6f9ff);
	//background: -o-linear-gradient(#005be2, #f6f9ff);
	//background: linear-gradient(#005be2, #a7cbff);
}

.sidebox .clics span {
	display: block;
	padding: 5px 0;
	font-size: 10px;
	background-clip: padding-box;
}

.sidebox .votes span {
	display: block;
	padding: 5px 0;
	font-size: 12px;
	//border: 1px solid #fff;
	background-clip: padding-box;
	//border-radius: 3px;
}

.sidebox .votes.queued {
/*	color: #444;
	border: 1px solid #eee;
	background-color: #ddd;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#ddd));
	background: -webkit-linear-gradient(#999, #ddd);
	background: -moz-linear-gradient(#999, #ddd);
	background: -o-linear-gradient(#999, #ddd);
	background: linear-gradient(#999, #ddd); */
}

.sidebox .mainsites ul {
	list-style-type: none;
	padding: 0;
	margin: 6px 0 0 0;
}

.sidebox .mainsites ul li {
	font-size: 0.8em;
	font-weight: normal;
	color:#333333;
	display:block;
	padding: 6px 0 6px 8px;
}

.sidebox .tagcloud {
	color: #005be2;
	margin:2px;
	text-align: center;
}

.sidebox .comments {
	margin: 0 2px;
	font-size: 0.8em;
}

.sidebox img.avatar {
	width:20px;
	height:20px;
}

.sidebox .comments ul {
	list-style-type: none;
	padding: 0;
}

.sidebox .comments li {
	clear: left;
	display: block;
	font-size: 90%;
	color:#333;
	margin: 0 0 10px 0;
}

.sidebox .comments li img {
	float:left;
	margin: 3px 0 8px 0;
}

.sidebox .comments li p {
	margin-left: 28px;
}

.sidebox .rss {
	list-style-type: none;
	padding: 0
}

.sidebox .rss li {
	font-size: 80%;
	color: #005be2;
	display:block;
	margin: 15px;
}

.sidebox .rss li a:hover {
	text-decoration: none;
}




#footwrap {
	clear: both;
	margin-top: 5em;
	padding-bottom: 2em;
	background: #000;
	font-size: 0.85em;
	line-height: 1.1em;
	color: #fff;
	text-align: center;
}

#footcol1, #footcol2, #footcol3, #footcol4, #footcol5 {
	display: inline-block;
	padding: 0 22px;
	border-left: solid 1px #CCCCCC;
	font-size: 0.85em;
	font-height: 1.2em;
	margin-top: 20px;
	vertical-align: top;
	background: #000;
	font-size: 85%;
	color: #fff;
	text-align: left;
}

#footcol1 ul, #footcol2 ul, #footcol3 ul, #footcol4 ul, #footcol5 ul {
	padding-bottom: 0.5em;
}


#footcol1 li, #footcol2 li, #footcol3 li, #footcol4 li, #footcol5 li {
	list-style-type: none;
}

#footcol1 {
	//width: 20%;
	//background: url('{{ globals.base_static }}img/common/rss-bigfoot.png') no-repeat 85% bottom;
	border-left: none;
}

#footcol2 {
	//width: 15%;
}

#footcol3 {
	//width: 15%;
}

#footcol4 {
	//width: 30%;
}

#footcol1 h5, #footcol2 h5, #footcol3 h5, #footcol4 h5, #footcol5 h5 {
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
	margin-bottom: 7px;
}

#footcol1 a, #footcol2 a, #footcol3 a, #footcol4 a, #footcol4 a {
	color: #eee;
}





#footthingy {
	clear: both;
	width: 100%;
	min-height: 60px;
	margin: 0;
	//background: #000;
	background: #005be2;
	font-size: 85%;
	color: #eee;
	text-align: center;
}

#footthingy a {
	color: #eee;
}

#footthingy .copuchin {
	display: inline-block;
	width: 50px;
	padding: 3px;
	margin-right: 10px;
}

#footthingy .col {
	display: inline-block;
	vertical-align: top;
}

#footthingy .row-title {
	display: block;
	font-size: 200%;
	margin-top: 10px;
	text-align: left;
}

#footthingy .row-foot {
	display: inline;
	margin-bottom: auto;
	text-align: left;
}

#stdcompliance {
padding: 4px 0 0 0;
text-align: right;
float: right;
display: inline-block;
width: 16%;
margin: 0px;
}

#stdcompliance li {
margin: 0px;
}

/*** LEGACY STYLES ***/
/* references in comments and posts */

dl.categorylist {
float: left;
}

dl.categorylist dt label {
margin-left: 20px;
float: none;
width: auto;
text-align: left;
font-size: 110%;
font-weight: bold;
/*color: #ff6400;*/
color: #777777;
}

dl.categorylist dd label {
margin-left: 35px;
font-size: 85%;
/*color: #ff9400;*/
color: #c0c0c0;
}

dl.categorylist input {
margin-right: 7px;
margin-bottom: 5px;
}

.thumbnail {
overflow: hidden;
float: right;
margin: 3px 3px 3px 5px;
box-shadow: 0 0 1px rgba(0,0,0,0.8);
-moz-box-shadow: 0 0 1px rgba(0,0,0,0.8);
-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.8);
}


abbr { cursor: help; }

img {
border: none;
}

img.emoji {
vertical-align: -0.2em;
}

.shadowed, .avatar.big {
box-shadow: 0 0 3px rgba(0,0,0,0.4);
-moz-box-shadow: 0 0 3px rgba(0,0,0,0.4);
-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.4);
}

.avatar, .news-submitted img {
	border: 1px solid #ccc;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.avatar.big {
border-radius: 0px;
}

.shadow-red {
box-shadow: 0 0 6px rgba(255,0,0,0.9);
-moz-box-shadow: 0 0 6px rgba(255,0,0,0.9);
-webkit-box-shadow: 0 0 6px rgba(255,0,0,0.9);
}

.shadow-green {
box-shadow: 0 0 4px rgba(0,255,0,0.8);
-moz-box-shadow: 0 0 4px rgba(0,255,0,0.8);
-webkit-box-shadow: 0 0 4px rgba(0,163,131,0.8);
}

.shadow-avatar-highlight-comment {
	box-shadow: 0 0 4px rgba(0,173,255,0.8);
	-moz-box-shadow: 0 0 4px rgba(0,173,255,0.8);
	-webkit-box-shadow: 0 0 4px rgba(0,173,255,0.8);
}

.tooltip {
cursor: pointer;
}

.tt {
cursor: pointer;
text-decoration: underline;
/*color: #C85000;*/
color: #606060;
}

hr {
height: 1px;
border: none;
}

h1,
h2 {
	margin-top: 0;
	margin-bottom: 7px;
	font-size: 160%;
	font-weight: bold;
	color: #191919;
}

.topheading h2 {
	padding: 10px 0 0 0;
	margin: 0 20px 20px 20px;
	font-size: 1.2em;
	border-bottom: 1px solid;
}

h3 {
	margin-top: 0;
	margin-bottom: 3px;
	font-size: 140%;
	font-weight: normal;
	color: #005be2;
}

h4 {
font-size: 100%;
font-weight: bold;
margin: 5px 0 3px 0;
}

table.keyvalue {
	padding: 10px 0 10px 0;
}

table.keyvalue tr {
border-bottom: 1px solid;
padding: 5px 0 2px 0;
}

table.keyvalue th {
text-align: right;
padding-right: 4px;
vertical-align: top;
}

table.keyvalue td {
text-align: left;
padding-left: 4px;
vertical-align: bottom;
}

table.keyvalue td img {
vertical-align: text-bottom;
}

table.decorated {
border-collapse: collapse;
width: 100%;
margin-bottom: 16px;
}

table.decorated th, table.decorated td {
text-align: left;
font-size: 12px;
padding: 6px;
border-bottom: 1px solid;
}

tr:hover td, table.keyvalue tr:hover th  {
background: #fafafa;
}

th, td, table.decorated th, table.decorated td {
border-bottom-color: #ddd;
}

th.short, td.short {
text-align: center;
}

th.short a, td.short a {
text-decoration: none;
display: block;
padding: 3px 0;
border: 1px solid;
border-color: #FFF;
}

th.short a:hover, td.short a:hover {
text-decoration: underline;
border: 1px solid;
background: #FFF;
border-color: #000;
}

th a.info, th a:hover.info {
padding: 0 12px 0 0;
display: inline;
border: none;
}

th img {
border: none;
margin-right: 1px;
vertical-align: middle;
}

th span.info_s {
padding: 0 12px 0 0;
font-size: 120%;
text-decoration: none;
border: none;
color: #a00;
}

td.count {
font-size: 140%;
text-align: right;
}

.news-summary .warn {
position: relative;
padding: 5px 10px 5px 28px ;
margin: 0px 0 5px 0;
font-size: 85%;
background: #FEFBEA url({{ globals.base_static }}img/common/error_s.png) 5px 50% no-repeat;
background-size: 16px 16px;
}

.sidebox .warn {
padding-left:20px;
background: url({{globals.base_static}}img/common/error_s.png) no-repeat left center;
background-size: 16px 16px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .warning, .news-summary .warn, .sidebox .warn { background-image:url('{{ globals.base_static }}img/common/error_s-2x.png'); }
}

.comments-counter .counter {
text-decoration: none;
padding: 1px 4px;
font-weight: bold;
text-align: center;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
border-radius: 50%;
color: white;
}

.error {
	font-weight: bold;
	font-size: 120%;
	margin: 5px 0 0 0;
	padding: 25px 0 0 0;
	color: #005be2;
}

.error-text {
	font-size: 100%;
	color: #005be2;
}

.form-error, .form-error-submit {
	font-size: 110%;
	font-weight: bold;
	margin: 20px 0 10px 20px;
	padding: 5px 0 10px 0;
	color: #005be2;
}

.form-error-submit {
	padding: 10px;
	margin: 15px 0 0 0;
	border: solid #a7cbff 1px;
	background: #e6f0ff;
}

.form-full {
width: 100%;
font-size: 16px;
}

.instruction-list {
margin: 0;
padding: 0;
}

.instruction-list li {
list-style: none;
margin: 0;
padding: 5px 0 5px 25px;
}

.bar .menealo a, .bar .menealo span {
font-size: 13px;
padding-bottom: 3px;
text-align: center;
}

.bar .mnm-published, .bar .mnm-queued, .bar .mnm-discarded {
padding: 4px 5px;
/*color: #ff6400;*/
color: #777777;
}

.bar .mnm-published {
/*background-color: #ffc098;*/
background-color: #888888;
}

.bar .mnm-queued {
background-color: #fff;
}

.bar .mnm-discarded {
background-color: #fff;
/*color: #808080;*/
color: #cccccc;
}

/*
.news-body h1, .news-body h2 {
margin: 0;
padding: 0 5px 0 0;
font-size: 140%;
font-weight: normal;
background: none;
border: none;
}

.news-body img.thumbnail {
width: 60px;
height: 60px;
}
*/

.news-submitted {
font-size: 85%;
margin: 0 0 2px 0;
white-space: nowrap;
min-height: 25px;
color: #666;
}

.news-submitted a:link, .news-submitted a:visited {
font-weight: bold;
/*color: #3D72C3;*/
color: #444444;
}

.news-submitted .showmytitle {
font-weight: bold;
cursor: pointer;
}

.tab-trackback-url {
font-weight: bold;
font-size: 100%;
/*color: #FF6400;*/
color: #777777;
}

.tab-trackback {
margin: 0 0;
padding: 0 0 0 5px;
font-weight: normal;
}

.tab-trackback li {
list-style: none;
text-align: left;
padding: 0 0 5px 5px;
margin: 2px;
overflow: hidden;
}

.tab-trackback-entry {
color: #666;
}

.tab-trackback-entry a {
padding: 2px 0 0 20px;
background: url({{ globals.base_static }}img/common/mnu-list-image02.png) no-repeat 0px 4px
}

/* submit form */
#thisform .column-list {
margin: -15px 0 20px 0;
min-height: 185px;
}

#thisform .column-list li {
font-size: 100%;
font-weight: normal;
}

#thisform .column-list ul {
padding-left: 15px;
margin: 0px;
}

.comments {
margin: 10px 4px 0 4px;
}

.notes {
margin: 15px 5px 0 15px;
}

.comments h3 {
margin: 0;
}

.commentform {
width: 100%;
overflow-x: hidden;
padding-right: 2px;
}

.commentform a:link, .commentform a:visited {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	color: #eee;
}

.commentform .submit {
font-weight: bold;
border: 1px dotted;
/*background: #FF6400;*/
background: #777777;
color: #FFF;
border-color: #FFF;
}

.commentform a:hover {
text-decoration: none;
}

.commentform textarea {
display: block;
width: 99%;
margin: 0 0 10px 0;
}

.commentform label {
font-weight: bold;
font-size: 100%;
}

.commentform.warn {
	font-size: 0.8em;
	border: 0;
	padding: 5px 0px 5px 0px;
	font-weight: bold;
	text-align: center;
	background: #333;
	color: #eee;
}

.comments-list {
list-style: none;
margin: 0;
padding: 0;
}

.comments-list li {
margin-bottom: 10px;
}

.comment-body {		/* blue */
	padding: 4px 5px 5px 10px;
	line-height: 120%;
	text-align: left;
	overflow: hidden;
	min-height: 25px;
	font-size: small;
	color: #333;
	border-color: #005be2;
	border-radius: 2px;
	background: #f6f9ff; /* fallback */
	//background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f9ff), to(#e2eeff));
	//background: -webkit-linear-gradient(#f6f9ff, #e2eeff);
	//background: -moz-linear-gradient(#f6f9ff, #e2eeff);
	//background: -o-linear-gradient(#f6f9ff, #e2eeff);
	//background: linear-gradient(#f6f9ff, #e2eeff);
}

.comment-body.high {	/* blue */
	background: #cbe1ff;
	//background-image: url({{ globals.base_static }}img/common/comment-high-01.png);
	//background-image: url({{ globals.base_static }}img/common/comment-high-01.png), linear-gradient(#e2eeff, #bbd6ff);
	//background-position: 99% 1px;
	//background-repeat: no-repeat;
}

.comment-body.author {    /* brown */
	border-color: #ecae00;
	background: #fff8e8; /* fallback */
	//background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbf6e6), to(#f6e9c4));
	//background: -webkit-linear-gradient(#fbf6e6, #f6e9c4);
	//background: -moz-linear-gradient(#fbf6e6, #f6e9c4);
	//background: -o-linear-gradient(#fbf6e6, #f6e9c4);
	//background: linear-gradient(#fbf6e6, #f6e9c4);
}

.comment-body.high.author {    /* brown */
	background: #ffeab5;
	//background-image: url({{ globals.base_static }}img/common/comment-high-01.png);
	//background-image: url({{ globals.base_static }}img/common/comment-high-01.png), linear-gradient(#f9efd5, #eccf80);
	//background-position: 99% 1px;
	//background-repeat: no-repeat;
}

.comment-body.user {
	border-width: 1px;
	border-style: solid;
}

.comment-body a strong {
	color: #005be2;
	margin-left: -5px;
}

.comment-body .tooltip {
	color: #005be2;
	text-decoration: underline;
}

.comment-body.admin {
	background: #efefef;
}

.comment-body.new {
	background: #bbd6ff;
	color: #000;
}

.comment-body.hidden {
border: 1px solid #ccc;
padding: 0px 5px 0px 10px;
font-size: 90%;
overflow: hidden;
color: #aaa;
background: #fff;
}

.comment-body a.fancybox {
	color: #005be2;
}

.comment-body.hidden a, .comment-body.hidden a strong {
color: #aaa;
}

.comment-body .avatar, #tooltip-text .avatar {
float: left;
margin: 2px 10px 2px 0;
}

.comment-body .thumb, #tooltip-text .thumb {
padding: 1px;
vertical-align: top;
border: 1px solid #ccc;
}

.comment-body img.avatar {
width: 40px;
height: 40px;
}

.comment-body img.thumb.ok {
width: 80px;
height: 44px;
}



.comment-meta img {
vertical-align: bottom;
}

.comment-meta.hidden, .comment-meta.hidden a {
color: #aaa;
}

.comment-meta a {
font-weight: bold;
}


.comment-votes-info span,
.comment-votes-info div,
.comment-meta span {
	vertical-align: top;
}


.comment-meta a:hover {
text-decoration: none;
}

.comment-meta img {
border: none;
margin: 0 4px 0 4px;
border-radius: 2px;
}

.comment-info {
float: right;
text-align: right;
text-overflow: clip;
}

.comment-info img {
margin: 0 0 0 4px;
width: 20px;
height: 20px;
}

.comment-answers {
margin:-5px 15px 0 40px;
}

.comment-votes-info img {
margin-top: 2px;
}

.comments-list ul li {
list-style: none;
margin: 0 0 16px 0;
}

.comments-list ul {
margin: 0;
padding: 16px 0 0 48px;
background: #FFF;
}

.comments .comment-info select {
font-size: 85%;
}

.threader {
border-left: 1px dotted #ddc;
margin: 5px 0 6px 1.5%;
padding: 0 0 0 1.5%;
}

.threader.zero {
border-left: none;
padding-left: 0;
margin-left: 0;
padding-left: 0;
}

.threader .comment-body {
margin-top: 5px;
}

.threader .comment-meta {
margin-bottom: 0;
}

#tolerance, #tolerance select {
font-size: 85%;
}

.pages {
	padding: 10px 0 0 0;
	margin: 15px 0 50px 0;
	clear: left;
	background: #FFFFFF;
	font-weight: bold;
}

.pages:after {
	content: ".";
	display: block;
	height: 0;
	clear: left;
	visibility: hidden;
}

.pages.margin {
	margin-left: 90px;
}

.pages a, .pages span {
	display: block;
	float: left;
	padding: 4px 10px 4px 10px;
	margin-right: 3px;
	color: #005be2;
	background: #fff;
}

.pages span.current {
	color: #fff;
	background-color: #005be2;
	border: solid 1px #005be2;
}

.pages span.current a {
}

.pages a {
	text-decoration: none;
	border: solid 1px #005be2;
}

.pages a:hover {
	color: #fff;
	background-color: #005be2;
	border-color: #005be2;
}

.pages span.nextprev {
	border: 1px solid #a7cbff;
	color: #a7cbff;
}


/* Login form */
.loginform {
	font-family: "Graphik Web","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	line-height: 1.1em;
	margin: 0;
	//float: right;
	display: inline-block;
	width:40%;
	margin-top: 10px;
	vertical-align: top;
	text-align: left;
}

.genericform.login {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.loginform h4 {
	margin-bottom: 5px;
}

.loginform p {
	padding: 0 0 5px 0;
}

.loginform ul {
	margin-left: 1.5em;
}

.registerbox {
	color: #005be2;
	text-decoration: none;
	display: block;
	width: 50%;
	text-align: center;
	margin: 0 auto;
	padding: 0.5em 1em;
	border: 3px double #a7cbff;
	background: #ebf3ff;
}

.avisologin {
	border:1px solid #e28700;
	font-size: 1.3em;
	font-weight: bold;
	padding: 0.5em 1em;
	text-align: center;
}



/****** FAQ ******/
.faq {
	margin: 50px;
	padding-top: 10px;
	text-align: left;
}

.faq ol {
	font-weight: normal;
	//margin: 0 20px;
	padding: 0 30px;
	color: #000;
}

.faq ul {
	font-weight: normal;
	margin: 7px 20px 0px 20px;
	color: #000;
}

.faq ul li {
	//margin-bottom: 10px;
}

.faq h1 {
	font-size: 1.7em;
}

.faq h2,
.faq h3,
.faq h4 {
	font-weight: bold;
	font-size: 1.1em;
	color: #000;
}

.faq p {
	font-weight: normal;
	color: #333;
}




.sneaker {
margin: 0;
}

.mini-sneaker-title strong, .sneaker-title strong {
font-size: 95%;
}

.sneaker-legend {
font-size: 9pt;
text-align: center;
padding: 8px 0 2px 0;
margin: 0;
}

.sneaker-legend img {
margin: 0 25px 0 3px;
vertical-align: baseline;
}

.sneaker-control {
margin: 0;
}

.sneaker-item {
width: 100%;
clear: both;
border-bottom: 1px solid;
padding: 5px 0 5px 0;
text-align: center;
overflow: hidden;
}

.sneaker-ts, .sneaker-sub, .sneaker-type, .sneaker-votes, .sneaker-story, .sneaker-chat, .sneaker-who, .sneaker-status, .sneaker-chat-friends, .sneaker-chat-admin {
float: left;
display: block;
}

.sneaker-ts {
width: 6%;
text-align: left;
}

.sneaker-sub {
width: 9%;
font-variant:small-caps;
}

.sneaker-type {
width: 5%;
}

.sneaker-type img {
border: none;
margin: 0;
vertical-align: middle;
}

.sneaker-votes {
width: 8%;
}

.sneaker-story {
width: 50%;
text-align: left;
overflow: hidden;
}

.sneaker-chat, .sneaker-chat-friends, .sneaker-chat-admin {
width: 50%;
text-align: left;
overflow: hidden;
}

.sneaker-who {
width: 15%;
text-align: left;
}

.sneaker-who img {
border: 0px solid;
float: right;
margin-right: 2px;
margin-left: 4px;
vertical-align: bottom;
}

.sneaker-status {
width: 6%;
text-align: right;
}

.voters, .mini-sneaker {
margin: 25px 5px 0 10px;
}

.voters h2 {
margin: 0 0 10px 0;
}

.voters-list {
	position: relative;
	padding: 2px 2px 2px 2px;
	float: left;
	min-height: 150px;
	width: 99%;
	overflow: hidden;
	border: 1px solid;
	margin: 0 0 5px 0;
	color: #777;
	background: #fff;
	border-color: #80b3ff;
}


.voters-list .item {
float: left;
overflow: hidden;
display: block;
width: 24%;
height: 20%;
font-size: 85%;
white-space: nowrap;
padding: 5px 0 5px 0;
}

.friends-item {
float: left;
display: block;
overflow: hidden;
height: 25px;
white-space: nowrap;
width: 24%;
height: 30px;
font-size: 85%;
white-space: nowrap;
}

.friends-item  img,
.voters-list img {
border: 0px;
margin-right: 5px;
margin-left: 4px;
vertical-align: bottom;
}

.mini-pages {
padding: 0;
margin: 10px 0 10px 0;
font-size: 80%;
clear: left;
}

.mini-pages a, .mini-pages span {
display: block;
float: left;
padding: 3px 5px 3px 5px;
margin-right: 3px;
/*color: #FF6400;*/
color: #777777;
}

.mini-pages span.current {
border: 1px solid;
font-weight: bold;
/*border-color: #FF6400;
background: #FFBE94;
color: #FF6400;*/
border-color: #777777;
background: #888888;
color: #777777;
}

.mini-pages span.current a {
padding: 0;
border: 0px;
/*background: #FFBE94;
color: #FF6400;*/
background: #888888;
color: #777777;
}

.mini-pages a {
border: 1px solid;
text-decoration: none;
/*border-color: #FF6400;*/
border-color: #777777;
border-color: #FFF;
background: #fff url({{ globals.base_static }}img/common/tabs/tabsub-background.png) bottom left repeat-x;
border: 1px solid;
}

.mini-pages a:hover {
/*border-color: #FF9400;
background: #FFBE94;
color: #FF6400;*/
border-color: #999999;
background: #888888;
color: #777777;
}

#tooltip-text {
border-radius:3px;
text-align: left;
position:absolute;
display:none;
margin: 0;
z-index:10002;
border: 1px solid;
padding: 6px;
font-size: 95%;
overflow: hidden;
width: 40%;
max-height: 45ex;
background: #fbfbfb;
border-color: #aaa;
box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}

.mini-sneaker-item {
	margin: 0 5px 0 5px;
	width: 99%;
	clear: both;
	border-bottom: 1px solid;
	padding: 2px 0 2px 0;
	text-align: center;
	overflow: hidden;
	border-bottom-color: rgba(226, 135, 0, 0.26);
}

.mini-sneaker-ts, .mini-sneaker-type, .mini-sneaker-votes, .mini-sneaker-who, .mini-sneaker-status {
float: left;
display: block;
}

.mini-sneaker-title strong {
	color: #e28700;
}

.mini-sneaker-ts {
width: 18%;
text-align: left;
}

.mini-sneaker-type {
width: 18%;
}

.mini-sneaker-type img {
border: none;
margin: 0;
vertical-align: middle;
}

.mini-sneaker-votes {
width: 18%;
}

.mini-sneaker-who {
width: 21%;
text-align: left;
}

.mini-sneaker-who img {
float: right;
margin-right: 2px;
margin-left: 4px;
vertical-align: bottom;
}

.mini-sneaker-status {
width: 18%;
text-align: right;
}

.rich-edit-key {
color: #fff;
font-size: 14px;
text-align: center;
height: 20px;
width: 20px;
margin: 1px 4px;
padding-bottom: 3px;
float: right;
}

#addpost {
padding: 0;
margin-top: 0px;
margin-bottom: 10px;
}

.media-icon {
margin-bottom: 0px;
}



@media print {
body { font-size: small }
}


#mDialog_box {
	position: absolute;
	z-index: 15000;
	width: 25%;
	min-width: 250px;
	height: 18.5ex;
	border:1px solid #3a97ff;
	background: #fafafa;
	overflow: hidden;
	border-radius: 3px;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#mDialog_header {
	width:100%;
	color:#fff;
	font-weight:bold;
	height: 20px;
	padding-top: 3px;
	font-size: 14px;
	background-color: #005be2; /* fallback */
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#3a97ff), to(#005be2));
	background: -webkit-linear-gradient(#3a97ff, #005be2);
	background: -moz-linear-gradient(#3a97ff, #005be2);
	background: -o-linear-gradient(#3a97ff, #005be2);
	background: linear-gradient(#3a97ff, #005be2);
}

#mDialog_content {
	margin-top: 10px;
	padding: 0 5px;
	vertical-align: center;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	height: 7ex;
	overflow: hidden;
	color: #101010;
	word-wrap: break-word;
}

#mDialog_options {
	margin: 10px;
	text-align: center;
}

#mDialog_options button {
	margin: 0 15px 0 15px;
	padding: 2px 15px;
	width: auto;
}

#mDialog_input {
	padding: 4px;
	width: 60%;
}

#mDialog_close {
	float: right;
	cursor: pointer;
	margin-right: 5px;
}

.semiopaque {
	opacity:0.3;
	vertical-align:middle;
}

.semiopaque:hover {
	opacity:1.0;
}

#header-top #notifier {
	display: inline-block;
	cursor:pointer;
	background: #555;
	color: #eee;
	font-size:15px;
	font-weight:bold;
	height:25px;
	width:35px;
	padding-top: 5px;
	text-align:center;
	vertical-align: middle;
}

#header-top #notifier:hover{
	background: #999;
	color: #eee;
}

#header-top #notifier.nonzero {
	background: #e2005b;
	color: #eee;
}


/* Notifier menu */
#notifier_panel {
	border-radius:3px;
	position:fixed;
	right:35px;
	top:30px;
	padding: 2px 2px;
	color: #eee;
	background: #333;
	min-width:200px;
	border:1px solid #bbb;
	text-align: left;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	display: none;
}

#notifier_panel div {
	font-size: 14px;
	margin: 0;
	position: relative;
	color:#333;
	padding:7px 4px 3px 3px;
	margin-bottom:0px;
	border-top:1px solid #ddd;
	height:24px;
}

#notifier_panel div:first-child {
	border-top:none;
}

#notifier_panel div:hover {
	background-color:#777 !important;
}

#notifier_panel div a {
	color:#eee;
	text-decoration: none;
}


/* User menu */
#usermenu {
	height: 30px;
	width: 35px;
	opacity: 1.0;
}

#usermenu img:hover {
	opacity: 0.6;
}

#user-panel {
	display: none;
	z-index: 951;
	border-radius:3px;
	position:fixed;
	right:2px;
	top:30px;
	padding: 2px 2px;
	color: #eee;
	background: #333;
	min-width:200px;
	border:1px solid #bbb;
	text-align: left;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}

#user-panel div {
	display: block;
	font-size: 14px;
	margin: 0;
	position: relative;
	color:#333;
	padding:7px 4px 3px 3px;
	margin-bottom:0px;
	border-top:1px solid #ddd;
	height:24px;
}

#user-panel div:first-child {
	border-top:none;
}

#user-panel div:hover {
	background-color:#777 !important;
}

#user-panel div a {
	color:#eee;
	text-decoration: none;
}







.auth-buttons {
margin-top: 20px;
text-align:center;
}

.auth-buttons img {
vertical-align:middle;
margin: 5px 5px 5px 5px;
}


.ts {
display: inline-block;
text-overflow: clip;
}

.ts.visible {
min-width: 2.5em;
}

.comment-meta .ts {
font-size: 90%;
}

a.permalink {
display: inline-block;
height: 18px;
width: 18px;
margin: 0px 4px 0px 4px;
background: url({{ globals.base_static }}img/common/icons-common.png) no-repeat 0px -35px;
background-size: 20px 300px;
overflow: hidden !important;
color: transparent !important;
}


.droparea_info {
display:inline-block;
vertical-align: bottom;
padding: 0;
}

.droparea_info img {
vertical-align: bottom;
}

.uploadFile {
vertical-align: middle;
}

input.uploadFile {
visibility: hidden;
}

.uploadFile-button {
	vertical-align: middle;
	margin: 0 16px;
	color: #777777;
	font-weight: bold;
	height: 20px;
	padding-right: 28px;
	background: url({{ globals.base_static }}img/common/upload.png) no-repeat right;
	background-size: 28px 20px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.uploadFile-button { background-image:url('{{ globals.base_static }}img/common/upload-2x.png'); }
}





.emoji-kbd-btn {
line-height: 1.4;
padding: 2px 4px 3px 4px;
}
.emoji-kbd-btn.active {
padding: 1px 3px 2px 3px;
border: 1px solid #ffa500;
background-color: #ffd5ad;
}
.emoji-kbd {
margin: 10px 0;
color: #333;
}

.emojiCat {
margin: 0;
padding: 0;
list-style-type: none;
}

.emojiCat li {
	display: inline-block;
	border: 1px solid #a7cbff;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	width: 70px;
	text-align: center;
}

.emojiCat li.active {
	border-color: #f00;
	background-color: oldlace;
}

.commentform a.emoji-tab {
	display: block;
	padding: 3px 0;
	color: #444;
	background-color: #e6f0ff;
	border-bottom: none;
	border-radius: 2px 2px 0 0;
	text-decoration: none;
	text-transform: lowercase;
	font-size: small;
}

.commentform a.emoji-tab.active {
	font-weight: 700;
	padding: 3px 0;
	color: white;
	background-color: #005be2;
}

.emoji-panel {
	display: none;
	min-height: 50px;
	border: 1px solid #a7cbff;
	padding: 2px;
	background-color: white;
	overflow-x: hidden;
	overflow-y: auto;
}

.emoji-panel.active {
display: block;
}

.emoji-btn {
margin: 4px;
vertical-align: middle;
height: 18px;
width: auto;
}

.emoji-btn:hover {
	background-color: #aaaaaa;
}

#backTop{
	position: fixed;
	width:40px;
	height:40px;
	right: 15px;
	bottom: 15px;
	cursor:pointer;
	z-index:9990;
	display:none;
	background:url({{ globals.base_static }}img/common/uparr-48-w.png) no-repeat center center rgba(0,0,0,0.3);
	//background-size: 24px 24px;
	border: 2px #bbb solid;
	border-radius: 2px;
}

.reportform {
	padding: 40px;
	background-color: #e6f0ff;
}

.reportform p {
margin-bottom: 15px;
font-size: 14px;
}


